<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fa fa-bell-o"></i>
      Notifications
    </h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- Info Boxes Style 2 -->
    <div class="info-box mb-3 bg-warning">
      <span class="info-box-icon">
        <i class="fa fa-circle-o-notch"></i>
      </span>

      <div style="margin-left: 10px"> <!-- class="info-box-content"-->
        <h3>Yet to Start Sessions</h3>
        <ul class="list-unstyled">
          <li *ngFor='let client of clientsWithNoSession'>
          <span> <a [routerLink] = "['/client', client.clientId]"
            style="cursor: pointer; text-decoration: underline">{{ client.clientName }} {{ client.followupdate }}</a></span>
          </li>
        </ul>
        <p *ngIf="!noSessionClientFound"> {{ errorMessageNoSession }}</p>
      </div>
      <!-- /.info-box-content -->
    </div>
    <div class="info-box mb-3 bg-danger">
      <span class="info-box-icon">
        <i class="fa fa-hourglass-end"></i>
      </span>
      <div style="margin-left: 10px"> <!-- class="info-box-content"-->
        <h3>Crossed Follow Up</h3>
        <ul class="list-unstyled">
          <li *ngFor='let client of clientsCrossedFollowup'>
          <span> <a [routerLink] = "['/client', client.clientId]"
            style="cursor: pointer">{{ client.clientName }} ({{ client.followupdate }})</a></span>
          </li>
        </ul>
        <p *ngIf="!crossedFollowupClientFound"> {{ errorMessageCrossedFollowup }}</p>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</div>