<div class="content-header">
  <h3 class="left-half">Add Mental Status Exam for {{ clientName }}</h3>
</div>
<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-md-16">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-group" *ngIf="groupedDataComplete">
                <div class="table-responsive">
                  <div class="checkbox" *ngFor="let groupedData of groupdataArr; let i=index">
                    <span class="checkbox-label checkbox-name">
                      {{ groupedData.referenceDataType | fuppercase : 1 }}
                    </span>
                    <ul class="checkbox-grid">
                      <li *ngFor="let rd of groupedData.refData let k=index">
                        <label class="boxitem">
                          <input type="checkbox" 
                            [id]="rd.referenceValue" 
                            [(ngModel)]="checked[i][k]"
                            tabindex="i+k"
                            [name] = "rd.referenceValue"                      
                            (click) = "onSelectBox(i, k)"
                            > 
                            
                            {{rd.referenceValue | fuppercase : 1 }}
                        </label>

                        <input type="text" 
                              id="otherComments{{i}}" 
                              [(ngModel)]="otherComments[i]"
                              [name] = "rd.referenceValue" 
                              tabindex="i+k"
                              class = "inline-text"
                              *ngIf = "rd.referenceValue === 'other'"/>

                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <button class="btn btn-block btn-primary" 
                       type="submit" 
                       [disabled]="!formValid" 
                       tabindex="{{lastTabIndex + 1}}">Submit</button>
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button class="btn btn-block btn-warning" 
                        button type = "button"
                        (click)="resetForm()" tabindex="{{lastTabIndex + 2}}">Clear</button>
                    </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                        <button class="btn btn-block btn-danger" 
                        button type = "button"
                        (click)="onCancel()" tabindex="{{lastTabIndex + 3}}">Cancel</button>
                      </div>
                    </div>

                    <div class="card-body table-responsive" *ngIf = "errorMessage">
                      <div class="row" *ngIf = "errorMessage"> 
                          <div class="col-md-12">
                            <p class="text-red">{{errorMessage}}</p>
                          </div>
                      </div>
                    </div>
                    <div class="card-body table-responsive" *ngIf = "successMessage">
                      <div class="row" *ngIf = "successMessage"> 
                          <div class="col-md-12">
                            <p class="text-green">The MSE Record is successfully added.</p>
                          </div>
                      </div>
                    </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>