<div class="content-header">
  <h3>Add Client</h3>
</div>
<section class="content">
  <div class="container-fluid">
    <form [formGroup]="addClientForm" (ngSubmit)="onSubmit()">

    <div class="card">
        <div class="card-body">
          <div class="row">              
            <div class="col-md-4">
      
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" id="firstName" formControlName="firstName" class="form-control" tabindex="1">

                  <span *ngIf="addClientForm.get('firstName').touched && 
                                        !addClientForm.get('firstName').valid" class="help-block">
                    <span *ngIf="addClientForm.get('firstName').errors['pattern']">
                      Not a valid name.
                    </span>
                    <span *ngIf="addClientForm.get('firstName').errors['required']">
                      First name is required!
                    </span>
                  </span>
                </div>

                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select class="form-control medium-select" formControlName="gender" tabindex="3">
                    <option [value]="g" *ngFor="let g of genders">{{ g | fullGender }}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="maritalStatus">Marital Status</label>
                  <select class="form-control medium-select" formControlName="maritalStatus" tabindex="5">
                    <option [value]="m" 
                    *ngFor="let m of maritalstatuses">{{ m | maritalStatus }}</option>
                  </select>
                </div>

            </div> <!-- 1st column -->

            <div class="col-md-4">

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" formControlName="lastName" class="form-control" 
                    tabindex="2">
  
                    <span *ngIf="addClientForm.get('lastName').touched && 
                                            !addClientForm.get('lastName').valid" class="help-block">
                      <span *ngIf="addClientForm.get('lastName').errors['pattern']">
                        Not a valid name.
                      </span>
                      <span *ngIf="addClientForm.get('lastName').errors['required']">
                        Last name is required!
                      </span>
                    </span>
                  </div>

                  <div class="form-group">
                      <label for="age">Age</label>
                      <input type="text" id="age" formControlName="age" class="form-control" tabindex="4">
    
                      <span *ngIf="addClientForm.get('age').touched && 
                                        !addClientForm.get('age').valid" class="help-block">
                        <span *ngIf="addClientForm.get('age').errors['pattern']">
                          Not a valid age.
                        </span>
                        <span *ngIf="addClientForm.get('age').errors['required']">
                          Age is required!
                        </span>
                      </span>
                    </div>

                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input type="text" id="mobile" 
                        formControlName="mobile" 
                        class="form-control" 
                        tabindex="6"
                        maxlength="14">
      
                        <span 
                        *ngIf="!addClientForm.get('mobile').valid && 
                        addClientForm.get('mobile').touched"
                        class="help-block">
                        <span class="help-block text-danger"
                        *ngIf="addClientForm.get('mobile').errors['invalidNumber']">
                          Invalid mobile number!
                        </span>
                      </span>
                      </div>
            </div> <!-- second column -->
          </div>  <!-- row -->
        </div> <!-- card body -->
        </div>  <!-- card -->
        
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  
                    <div class="form-group">
                        <label for="reference">Reference</label>
                        <input type="text" id="reference" formControlName="reference" 
                        class="form-control" tabindex="7">
      
                        <span *ngIf="addClientForm.get('reference').touched && 
                                                !addClientForm.get('reference').valid" 
                                                class="help-block">
                            Please add the name who referred here
                        </span>
                      </div>
    
                </div> <!-- 1st column -->
                <div class="col-md-2">
                  
                    <div class="form-group">
                      <label for="status">Session Status</label>
                      <select class="form-control medium-select" formControlName="status" tabindex="8">
                          <option [value]="s" 
                          *ngFor="let s of sessionstatuses">{{ s | statusTransform }}</option>
                        </select>
                    </div>
    
                </div> <!-- 2nd column -->
                <div class="col-md-3">
                  
                    <div class="form-group">
                      <label for="followupdate">Follow Up Date</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" id = "datemask" class="form-control" 
                            formControlName="followupdate"                            
                            placeholder="yyyy-mm-dd" tabindex="9">
                            <span 
                            *ngIf="!addClientForm.get('followupdate').valid && 
                            addClientForm.get('followupdate').touched"
                            class="help-block">
                            <span class="help-block text-danger"
                            *ngIf="addClientForm.get('followupdate').errors['incorrectDate']">
                              Invalid date!
                            </span>
                          </span>
                          </div>
                    </div>
    
                </div> <!-- 2nd column -->
              </div> <!-- row -->
            </div> <!--card body -->
          </div> <!-- card -->

        <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              
                <div class="form-group">
                    <label for="profession">Profession</label>
                    <input type="text" id="profession" formControlName="profession" class="form-control" tabindex="10">
  
                    <span *ngIf="addClientForm.get('profession').touched && 
                                            !addClientForm.get('profession').valid" class="help-block">
                        Not a valid profession!
                    </span>
                  </div>

            </div> <!-- 1st column -->
            <div class="col-md-4">
              
                <div class="form-group">
                    <label for="education">Education</label>
                    <input type="text" id="education" formControlName="education" class="form-control" tabindex="11">
  
                    <span *ngIf="addClientForm.get('education').touched && 
                                            !addClientForm.get('education').valid" class="help-block">
                        Not a valid education!
                    </span>
                  </div>

            </div> <!-- 2nd column -->
          </div> <!-- row -->
        </div> <!--card body -->
      </div> <!-- card -->

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
      
              <div class="form-group">
                <label for="address">Address - First Line</label>
                <textarea type="text" id="address" formControlName="address" class="form-control" tabindex="12">
                            </textarea>
                <span *ngIf="addClientForm.get('address').touched && 
                             !addClientForm.get('address').valid" class="help-block">
                  Not a valid address!
                </span>
              </div>      
            </div>
            <!-- 1st column -->
            <div class="col-md-4">
      
              <div class="form-group">
                <label for="pin">PIN Code</label>
                <input type="text" id="pin" formControlName="pin" class="form-control" tabindex="13" maxlength="6">
      
                <span *ngIf="addClientForm.get('pin').touched && 
                             !addClientForm.get('pin').valid" class="help-block">
                  Not a valid pincode!
                </span>
              </div>
            </div>
            <!-- 2nd column -->
          </div>

          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" formControlName="city" class="form-control" tabindex="14">
          
                    <span *ngIf="addClientForm.get('city').touched && 
                                 !addClientForm.get('city').valid" class="help-block">
                      <span *ngIf="addClientForm.get('city').errors['pattern']">
                        Not a valid city!
                      </span>
                      <span *ngIf="addClientForm.get('city').errors['required']">
                        City is required!
                      </span>
                    </span>
                  </div>
          
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" id="state" formControlName="state" class="form-control" tabindex="16">
          
                    <span *ngIf="addClientForm.get('state').touched && 
                                 !addClientForm.get('state').valid" class="help-block">
                      <span *ngIf="addClientForm.get('state').errors['pattern']">
                        Not a valid state!
                      </span>
                      <span *ngIf="addClientForm.get('state').errors['required']">
                        State is required!
                      </span>
                    </span>
                  </div> 
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" id="country" formControlName="country" class="form-control" tabindex="15">
          
                    <span *ngIf="addClientForm.get('country').touched && 
                                 !addClientForm.get('country').valid" class="help-block">
                      <span *ngIf="addClientForm.get('country').errors['pattern']">
                        Not a valid Country!
                      </span>
                      <span *ngIf="addClientForm.get('country').errors['required']">
                        Country is required!
                      </span>
                    </span>
                  </div>
          
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email" class="form-control" tabindex="17">
          
                    <span *ngIf="addClientForm.get('email').touched && 
                                 !addClientForm.get('email').valid" class="help-block">
                      Not a valid email!
                    </span>
                  </div> 
            </div>
          </div>
          
          <!-- row -->
          <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                    <button class="btn btn-block btn-primary" 
                     type="submit" [disabled]="!addClientForm.valid" tabindex="18">Submit</button>
                </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group">
                      <button class="btn btn-block btn-warning" 
                      button type = "button"
                      (click)="onResetAddClientForm()" tabindex="19">Clear</button>
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a routerLink = "/dashboard" class="btn btn-block btn-danger" tabindex="20">Cancel</a>
                    </div>
                  </div>
          </div>

          <div class="card-body table-responsive" *ngIf = "errorMessage">
            <div class="row">
                <div class="col-md-12">
                  <p class="text-red">{{errorMessage}}</p>
                </div>
            </div>
          </div>
          <div class="card-body table-responsive" *ngIf = "successMessage">
            <div class="row">
                <div class="col-md-12">
                  <p class="text-green">The client {{savedClient.fname}} {{savedClient.lname}} successfully added</p>
                </div>
            </div>
          </div>


        </div>
        <!--card body -->
      </div>
      <!-- card -->
      
      </form>
    </div>
  
</section>