<div class="content-header">
  <h3 class="left-half" *ngIf="!searchedClient">Client Detail</h3>
  <!-- <h5 class="left-half" *ngIf="searchedClient">{{ searchedClient.clientName }}</h5> -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="col-md-6" *ngIf = "searchedClient">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ searchedClient.clientName }}</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="key">Name</td>
                <td>{{ searchedClient.clientName }}</td>
                <td class="key">Phone</td>
                <td>{{ searchedClient.mobile }}</td>
              </tr>
              <tr>
                <td class="key">Email</td>
                <td>{{ searchedClient.email }}</td>
                <td class="key">Age</td>
                <td>{{ searchedClient.age > 0 ? searchedClient.age : '' }}</td>
              </tr>
              <tr>
                <td class="key">Follow Up Date</td>
                <td>{{ searchedClient.followupdate }}</td>
                <td class="key">Status</td>
                <td>{{ searchedClient.status | statusTransform }}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <!-- See modal below -->
          <button class="btn btn-primary" 
            type="button" 
            data-toggle="modal" 
            data-target="#clientDetailModal">
            Tell Me More
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" *ngIf= "searchedClient">
      <!-- <div class="box box-default">
        <div class="box-body"> -->
      <div class="btn-group-vertical">
        <button class="btn btn-success" type="button" (click)= "onNewSession()">
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
          New Session
        </button>
        <button class="btn btn-lg btn-info" type="button" (click) = "onNewTreatmentData()">Treatment Data</button>
        <button *ngIf= "searchedClient.clientMse === null ; else mseLink" class="btn btn-lg btn-warning" type="button" (click) = "onNewMSE()">Create MSE</button>
        <ng-template #mseLink>
          <button class="btn btn-lg btn-warning" 
          type="button" 
          data-toggle="modal" 
            data-target="#clientMSEModal">Show MSE
        </button>
      </ng-template>
      </div>
      <!-- </div>
      </div> -->
    </div>
    <div class="col-md-8">
        <div class="box box-default">
            <div class="box-header with-border" *ngIf= "searchedClient">
              <h3 class="box-title">Sessions of {{ searchedClient.clientName }}</h3>
            </div>
            <div class="box-body table-responsive no-padding" *ngIf = "sessionSearchComplete">
                <table class="table table-hover" *ngIf= "sessionsOfClient">
                    <tr>                       
                        <th 
                        >Session Date <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                        </th>                          
                        <th
                        >Follow Up Date <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                        </th>
                        <th>Impression</th>
                        <th>Feedback</th>
                    </tr>
                    <tr *ngFor='let psySession of sessionsOfClient'>
                        <td>
                          <a id="modal-link" data-toggle="modal" 
                          (click) = "sessionSelect(psySession.sessionId)"
                          style="cursor: pointer"
                          data-target="#sessionDetailModal">
                            {{  psySession.sessionDate }}
                          </a>
                        </td>
                        <td>{{  psySession.followupDate }}</td>
                        <td>{{  psySession.impression | shorten : 20 }}</td>
                        <td>{{  psySession.feedback  | shorten : 20 }}</td>
                        <td><a id="modal-link" data-toggle="modal"
                          (click)="selectTreatmentData(psySession.sessionId)"
                          style="cursor: pointer"
                          data-target="#treatmentDataModal">
                          Treatment Data for Session {{ psySession.sessionId }}
                        </a></td>
                    </tr>                        
                </table>
            </div>
            <div class="box-body table-responsive" *ngIf = "sessionsOfClient.length === 0">
              <p>None so far...</p>
            </div>
                
            <div class="box-body table-responsive" *ngIf = "errorMessage">
                <div class="row">
                    <div class="col-md-12">
                      <p class="text-red">{{errorMessage}}</p>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <!-- Client Detail Modal -->
    <div class="modal fade" id="clientDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Client Detail</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" *ngIf = "searchedClient">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="key">Name</td>
                    <td>{{ searchedClient.clientName }}</td>
                    <td class="key">Phone</td>
                    <td>{{ searchedClient.mobile }}</td>
                    <td class="key">Email</td>
                    <td>{{ searchedClient.email }}</td>
                  </tr>
                  <tr>
                    <td class="key">Age</td>
                    <td>{{ searchedClient.age > 0 ? searchedClient.age : '' }}</td>
                    <td class="key">Gender</td>
                    <td>{{searchedClient.gender }}</td>
                    <td class="key">Marital Status</td>
                    <td>{{searchedClient.maritalStatus | statusTransform }}</td>
                  </tr>
                  <tr>
                    <td class="key">Profession</td>
                    <td>{{ searchedClient.profession }}</td>
                    <td class="key">Education</td>
                    <td>{{searchedClient.education }}</td>
                    <td class="key">Reference</td>
                    <td>{{searchedClient.reference }}</td>
                  </tr>
                  <tr>
                    <td class="key">Address</td>
                    <td>{{ searchedClient.address }}</td>
                    <td class="key">City</td>
                    <td>{{searchedClient.city }}</td>
                    <td class="key">State</td>
                    <td>{{searchedClient.state }}</td>
                  </tr>
                  <tr>
                    <td class="key">Pin Code</td>
                    <td>{{ searchedClient.pin }}</td>
                    <td class="key">Country</td>
                    <td>{{searchedClient.country }}</td>
                    <td class="key">Second Phone</td>
                    <td>{{searchedClient.secondPhone }}</td>
                  </tr>
                  <tr>
                    <td class="key">Follow Up Date</td>
                    <td>{{ searchedClient.followupdate }}</td>
                    <td class="key">Status</td>
                    <td>{{ searchedClient.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!-- Session Detail Modal -->
    <div class="modal fade" id="sessionDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Session Detail</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" *ngIf = "selectedSession">
            <table class="table">
              <tbody>
                <tr>
                  <td class="key">Session Date</td>
                  <td>{{ selectedSession.sessionDate }}</td>
                  <td class="key">Follow Up Date</td>
                  <td>{{ selectedSession.followupDate }}</td>
                </tr>
                <tr>
                  <td class="key">Impression</td>
                  <td>{{ selectedSession.impression }}</td>
                </tr>
                <tr>
                  <td class="key">Feedback</td>
                  <td>{{ selectedSession.feedback }}</td>
                </tr>
                <!-- <tr>
                  <td class="key">Next Session Link</td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!-- Client MSE Modal -->
    <div class="modal fade" id="clientMSEModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Mental Status Exam</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" *ngIf = "clientMSE">
            <table class="table">
              <tbody>
                <tr>
                  <td class="key">Appearance</td>
                  <td>{{ clientMSE.appearance }}</td>
                  <td class="key">Speech</td>
                  <td>{{ clientMSE.speech }}</td>
                  <td class="key">Eye Contact</td>
                  <td>{{ clientMSE.eyeContact }}</td>
                </tr>
                <tr>
                  <td class="key">Motor Activity</td>
                  <td>{{ clientMSE.motorActivity }}</td>
                  <td class="key">Affect</td>
                  <td>{{ clientMSE.affect }}</td>
                  <td class="key">Mood</td>
                  <td>{{ clientMSE.mood }}</td>
                </tr>
                <tr>
                  <td class="key">Orientation Impairment</td>
                  <td>{{ clientMSE.orientationImpairment }}</td>
                  <td class="key">Memory Impairment</td>
                  <td>{{ clientMSE.memoryImpairment }}</td>
                  <td class="key">Attention</td>
                  <td>{{ clientMSE.attention }}</td>
                </tr>
                <tr>
                  <td class="key">Hallucinations</td>
                  <td>{{ clientMSE.hallucinations }}</td>
                  <td class="key">Other Perceptions</td>
                  <td>{{ clientMSE.perceptionComments }}</td>
                  <td class="key">Suicidality</td>
                  <td>{{ clientMSE.suicidality }}</td>
                </tr>
                <tr>
                  <td class="key">Homicidality</td>
                  <td>{{ clientMSE.homicidality }}</td>
                  <td class="key">Delusion</td>
                  <td>{{ clientMSE.delusions }}</td>
                  <td class="key">Behavior</td>
                  <td>{{ clientMSE.behavior }}</td>
                </tr>
                <tr>
                  <td class="key">Insights</td>
                  <td>{{ clientMSE.insight }}</td>
                  <td class="key">Judgement</td>
                  <td>{{ clientMSE.judgement }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!-- Treatment Data Modal -->
    <div class="modal fade" id="treatmentDataModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Treatment Data <span *ngIf = "selectedTreatmentData">for session {{ selectedTreatmentData.sessionId}}</span></h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" *ngIf = "selectedTreatmentData">
            <table class="table">
              <tbody>
                <tr>
                  <td class="key">Physical Component</td>
                  <td>{{ selectedTreatmentData.physicalComp }}</td>
                  <td class="key">Mental Component</td>
                  <td>{{ selectedTreatmentData.mentalComp }}</td>
                  <td class="key">Onset Date</td>
                  <td>{{ selectedTreatmentData.onsetDate }}</td>
                </tr>
                <tr>
                  <td class="key">Duration</td>
                  <td>{{ selectedTreatmentData.duration }}</td>
                  <td class="key">Degree</td>
                  <td>{{ selectedTreatmentData.degree }}</td>
                  <td class="key">Therapy Applied</td>
                  <td>{{ selectedTreatmentData.therapyApplied }}</td>
                </tr>
                <tr>
                  <td class="key">Case History</td>
                  <td>{{ selectedTreatmentData.casehistory }}</td>
                  <td class="key">Psychological Evaluation</td>
                  <td>{{ selectedTreatmentData.psyEvaluation }}</td>
                  <td class="key">Laboratary Testing</td>
                  <td>{{ selectedTreatmentData.labTesting }}</td>
                </tr>
                <tr>
                  <td class="key">Diagnosis</td>
                  <td>{{ selectedTreatmentData.diagnosis }}</td>
                  <td class="key">Differential Diagnosis</td>
                  <td>{{ selectedTreatmentData.diffDiagnosis }}</td>
                  <td class="key">Formulation</td>
                  <td>{{ selectedTreatmentData.formulation }}</td>
                </tr>
                <tr>
                  <td class="key">Client Document Link</td>
                  <td>{{ selectedTreatmentData.clientDocLink }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

  </div>
</section>