<div class="content-header">
  <h3 class="left-half" *ngIf="!searchedClient">Client Detail</h3>
  <!-- <h5 class="left-half" *ngIf="searchedClient">{{ searchedClient.clientName }}</h5> -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="col-md-6" *ngIf = "searchedClient">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ searchedClient.clientName }}</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="key">Name</td>
                <td>{{ searchedClient.clientName }}</td>
                <td class="key">Phone</td>
                <td>{{ searchedClient.mobile }}</td>
              </tr>
              <tr>
                <td class="key">Email</td>
                <td>{{ searchedClient.email }}</td>
                <td class="key">Age</td>
                <td>{{ searchedClient.age > 0 ? searchedClient.age : '' }}</td>
              </tr>
              <tr>
                <td class="key">Follow Up Date</td>
                <td>{{ searchedClient.followupdate }}</td>
                <td class="key">Status</td>
                <td>{{ searchedClient.status | statusTransform }}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <!-- See modal below -->
          <button class="btn btn-primary" 
            type="button" 
            data-toggle="modal" 
            data-target="#clientDetailModal">
            Tell Me More
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" *ngIf= "searchedClient">
      <!-- <div class="box box-default">
        <div class="box-body"> -->
      <div class="btn-group-vertical">
        <button class="btn btn-success" type="button">
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
          New Session
        </button>
        <button class="btn btn-lg btn-info" type="button">Treatment Data</button>
        <button class="btn btn-lg btn-warning" type="button">Edit MSE</button>
      </div>
      <!-- </div>
      </div> -->
    </div>
    <div class="col-md-8">
        <div class="box box-default">
            <div class="box-header with-border" *ngIf= "searchedClient">
              <h3 class="box-title">Sessions of {{ searchedClient.clientName }}</h3>
            </div>
            <div class="box-body table-responsive no-padding" *ngIf = "sessionSearchComplete">
                <table class="table table-hover">
                    <tr>                       
                        <th 
                        >Session Date <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                        </th>                          
                        <th
                        >Follow Up Date <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                        </th>
                        <th>Impression</th>
                        <th>Feedback</th>
                    </tr>
                    <tr *ngFor='let psySession of sessionsOfClient'>
                        <td>
                          <a id="modal-link" data-toggle="modal" 
                          (click) = "sessionSelect(psySession.sessionId)"
                          style="cursor: pointer"
                          data-target="#sessionDetailModal">
                            {{  psySession.sessionDate }}
                          </a>
                        </td>
                        <td>{{  psySession.followupDate }}</td>
                        <td>{{  psySession.impression | shorten : 20 }}</td>
                        <td>{{  psySession.feedback  | shorten : 20 }}</td>
                    </tr>                        
                </table>
            </div>
            <div class="box-body table-responsive" *ngIf = "errorMessage">
                <div class="row">
                    <div class="col-md-12">
                      <p class="text-red">{{errorMessage}}</p>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <!-- Client Detail Modal -->
    <div class="modal fade" id="clientDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Client Detail</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" *ngIf = "searchedClient">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="key">Name</td>
                    <td>{{ searchedClient.clientName }}</td>
                    <td class="key">Phone</td>
                    <td>{{ searchedClient.mobile }}</td>
                    <td class="key">Email</td>
                    <td>{{ searchedClient.email }}</td>
                  </tr>
                  <tr>
                    <td class="key">Age</td>
                    <td>{{ searchedClient.age > 0 ? searchedClient.age : '' }}</td>
                    <td class="key">Gender</td>
                    <td>{{searchedClient.gender }}</td>
                    <td class="key">Marital Status</td>
                    <td>{{searchedClient.maritalStatus | statusTransform }}</td>
                  </tr>
                  <tr>
                    <td class="key">Profession</td>
                    <td>{{ searchedClient.profession }}</td>
                    <td class="key">Education</td>
                    <td>{{searchedClient.education }}</td>
                    <td class="key">Reference</td>
                    <td>{{searchedClient.reference }}</td>
                  </tr>
                  <tr>
                    <td class="key">Address</td>
                    <td>{{ searchedClient.address }}</td>
                    <td class="key">City</td>
                    <td>{{searchedClient.city }}</td>
                    <td class="key">State</td>
                    <td>{{searchedClient.state }}</td>
                  </tr>
                  <tr>
                    <td class="key">Pin Code</td>
                    <td>{{ searchedClient.pin }}</td>
                    <td class="key">Country</td>
                    <td>{{searchedClient.country }}</td>
                    <td class="key">Second Phone</td>
                    <td>{{searchedClient.secondPhone }}</td>
                  </tr>
                  <tr>
                    <td class="key">Follow Up Date</td>
                    <td>{{ searchedClient.followupdate }}</td>
                    <td class="key">Status</td>
                    <td>{{ searchedClient.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!-- Session Detail Modal -->
    <div class="modal fade" id="sessionDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Session Detail</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" *ngIf = "selectedSession">
            <table class="table">
              <tbody>
                <tr>
                  <td class="key">Session Date</td>
                  <td>{{ selectedSession.sessionDate }}</td>
                  <td class="key">Follow Up Date</td>
                  <td>{{ selectedSession.followupDate }}</td>
                </tr>
                <tr>
                  <td class="key">Impression</td>
                  <td>{{ selectedSession.impression }}</td>
                </tr>
                <tr>
                  <td class="key">Feedback</td>
                  <td>{{ selectedSession.feedback }}</td>
                </tr>
                <tr>
                  <td class="key">Next Session Link</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

  </div>
</section>