<header class="main-header">
  <nav class="navbar navbar-static-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="stackbar" data-toggle="push-menu" role="button">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf = "userName">
      <li>
        Welcome, {{userName}}
      </li>
      <li>
        <a href="#" (click)="onLogOut()">Log out</a>
      </li>
    </ul>

  </nav>
</header>