<div class="content-header">
    <h5 class="left-half">Search Client</h5>
</div>
<section class="content">
    <div class="container-fluid">
    
        <div class="card"> 
                <div class="card-body">
                <form [formGroup]="searchClientForm" (ngSubmit)="onSubmit()">
                 <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" 
                                        id="firstName" 
                                        formControlName="firstName" 
                                        class="form-control">

                                <span *ngIf="searchClientForm.get('firstName').touched && 
                                        !searchClientForm.get('firstName').valid" class="help-block">
                                    <span *ngIf="searchClientForm.get('firstName').errors['required']">
                                        First name is required in search!
                                    </span>
                                </span>
                                <span *ngIf="(searchClientForm.get('firstName').touched
                                    || searchClientForm.get('lastName').touched)
                                    && !searchClientForm.valid" class="help-block">
                                    At least one of the name is required in search!
                                </span>
                            </div>
                        </div>
                        <span class="left-onehalf"></span>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" 
                                        id="lastName" 
                                        formControlName="lastName" 
                                        class="form-control">

                                <span *ngIf="searchClientForm.get('lastName').touched &&
                                        !searchClientForm.get('lastName').valid" class="help-block">
                                    <span *ngIf="searchClientForm.get('lastName').errors['required']">
                                        Last name is required in search!
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row"></div>
                            <div class="form-group">
                                <button class="btn btn-block btn-primary" 
                                type="submit" 
                                [disabled]="!searchClientForm.valid">Search</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row"></div>
                            <div class="form-group">
                                <button type= "button"
                                class="btn btn-block btn-secondary" 
                                (click)="onResetSearchForm()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <!-- <div class="row"> -->
                    <div class="col-md-4 top10">
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="form-group">
                            <button 
                            type="button"
                            class="btn btn-block btn-danger float-right" 
                            (click)="onUpcomingSessions()">Upcoming Sessions</button>
                        </div>
                    </div>
                <!-- </div> -->
                </div> <!-- card body -->
        </div> <!-- card --> 
    
    <!-- Search Result below -->
    <!-- <div class="col-xs-12"> -->
    <div class="box">
        <div class="box-header">
            Search Result
        </div>
        <div class="box-body table-responsive no-padding" *ngIf = "clientSearchResultFound">
                <table class="table table-hover">
                        <tr>
                          <th>Name</th>                          
                          <th>Follow Up Date</th>                          
                          <th>Status</th>
                        </tr>
                        <tr *ngFor="let searchedClient of searchedClients">
                          <td>
                            <a [routerLink] = "['../', searchedClient.clientId]">{{ searchedClient.clientName }}</a>
                          </td>                          
                          <td>{{ searchedClient.followupdate }}</td>
                          <td>
                            <span 
                            [ngClass]="searchedClient.status === 'Y' ? 'label label-success' : 
                                            (searchedClient.status === 'C' ? 'label label-primary' : 
                                            'label label-warning' )">
                            {{ searchedClient.status | statusTransform }}
                            </span></td>
                        </tr>                        
                      </table>
            
        </div>
        <!-- Upcoming Sessions -->
        <div class="box-body table-responsive no-padding" *ngIf = "sessionSearchComplete">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>                          
                    <th>Follow Up Date</th>                          
                    <th>Status</th>
                </tr>
                <tr *ngFor='let client of 
                this.searchedUpcomingFollowUpDateOfClients'>
                    <td>
                        <a [routerLink] = "['../', client.clientId]">{{ client.clientName }}</a>
                    </td>                          
                    <td>{{  client.followupdate }}</td>
                    <td>
                    <span 
                    [ngClass]="client.status === 'Y' ? 'label label-success' : 
                                (client.status === 'C' ? 'label label-primary' : 
                                'label label-warning' )">
                    {{ client.status }}
                    </span></td>
                </tr>                        
            </table>
        </div>

        <div class="box-body table-responsive" *ngIf = "errorMessage">
          <div class="row">
              <div class="col-md-12">
                <p class="text-red">{{errorMessage}}</p>
              </div>
          </div>
        </div>
    </div>
    <!-- </div> -->
    </div>
</section>