<form [formGroup]="treatmentDataForm" (ngSubmit)="onSubmit()">
  <div class="content-header">
    <h3>Treatment Data for <span *ngIf="psySession">{{psySession.client.clientName}}</span></h3>
  </div>
  <section class="content">
    <div class="container-fluid">
      
      <div class="card">
          <div class="card-body">
              <div class="row">              
                  <div class="col-md-6">
                        <div class="form-group">
                            <label for="physicalComp">Physical Component</label>
                            <textarea id="physicalComp" 
                            maxlength="200"
                            formControlName="physicalComp" class="form-control" rows="6" tabindex="1" >
                            </textarea>      
                            <span class="help">{{phycompLength}} characters left</span>                     
                          </div>
  
                          <div class="form-group">
                              <label for="mentalComp">Mental Component</label>
                              <textarea id="mentalComp" 
                                maxlength="200"
                                formControlName="mentalComp" 
                                class="form-control" rows="6" tabindex="2" >
                              </textarea>
                              <span class="help">{{mencompLength}} characters left</span> 
                            </div>
  
                        <div class="form-group">
                            <label for="onsetDate">Onset Date</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                  </div>
                                  <input type="text" id = "datemask" class="form-control" 
                                  formControlName="onsetDate"                            
                                  placeholder="yyyy-mm-dd" tabindex="3" >
                                  <span 
                                  *ngIf="!treatmentDataForm.get('onsetDate').valid && 
                                  treatmentDataForm.get('onsetDate').touched"
                                  class="help-block">
                                  <span class="help-block text-danger"
                                      *ngIf="treatmentDataForm.get('onsetDate').errors['incorrectDate']">
                                    Invalid date!
                                  </span>
                                </span>
                                </div>
                          </div>

                          <div class="form-group">
                            <label for="duration">Duration</label>
                            <textarea id="duration" 
                              maxlength="45"
                              formControlName="duration" 
                              class="form-control" rows="1" tabindex="4" >
                            </textarea>
                            <span class="help">{{durationLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="degree">Degree</label>
                            <select class="form-control medium-select" formControlName="degree" tabindex="5">
                                <option [value]="d" 
                                *ngFor="let d of degrees">{{ d }}</option>
                              </select>
                          </div>

                          <div class="form-group">
                            <label for="therapyApplied">Therapy Applied</label>
                            <textarea id="therapyApplied" 
                              maxlength="100"
                              formControlName="therapyApplied" 
                              class="form-control" rows="3" tabindex="5" >
                            </textarea>
                            <span class="help">{{therapyLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="caseHistory">Case History</label>
                            <textarea id="caseHistory" 
                              maxlength="450"
                              formControlName="caseHistory" 
                              class="form-control" rows="10" tabindex="6" >                              
                            </textarea>
                            <span class="help">{{caseHisLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="psyEvaluation">Psychological Evaluation</label>
                            <textarea id="psyEvaluation" 
                              maxlength="250"
                              formControlName="psyEvaluation" 
                              class="form-control" rows="4" tabindex="7" >
                            </textarea>
                            <span class="help">{{psyEvalLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="labTesting">Laboratory Testing</label>
                            <textarea id="labTesting" 
                              maxlength="200"
                              formControlName="labTesting" 
                              class="form-control" rows="5" tabindex="8" >                              
                            </textarea>
                            <span class="help">{{labLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="diagnosis">Diagnosis</label>
                            <textarea id="diagnosis" 
                              maxlength="200"
                              formControlName="diagnosis" 
                              class="form-control" rows="6" tabindex="9" >                              
                            </textarea>
                            <span class="help">{{diagLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="diffDiagnosis">Differential Diagnosis</label>
                            <textarea id="diffDiagnosis" 
                              maxlength="200"
                              formControlName="diffDiagnosis" 
                              class="form-control" rows="6" tabindex="10" >                              
                            </textarea>
                            <span class="help">{{diffdiagLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="formulation">Formulation</label>
                            <textarea id="formulation" 
                              maxlength="200"
                              formControlName="formulation" 
                              class="form-control" rows="3" tabindex="11" >                              
                            </textarea>
                            <span class="help">{{formLength}} characters left</span>
                          </div>

                          <div class="form-group">
                            <label for="clientDocLink">Client Document Link</label>
                            <textarea id="clientDocLink" 
                              maxlength="100"  
                              formControlName="clientDocLink" 
                              class="form-control" rows="1" tabindex="12" >
                            </textarea>
                            <span class="help">{{linkLength}} characters left</span>
                          </div>
  
                   </div>
              </div> 
               <!-- row -->
            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <button class="btn btn-block btn-primary" 
                       type="submit" [disabled]="!treatmentDataForm.valid" tabindex="13" >Submit</button>
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button class="btn btn-block btn-warning" 
                        type="button"
                        (click)="onResetTreatmentDataForm()" tabindex="14" >Clear</button>
                    </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <a routerLink = "../../../" tabindex = "15" class="btn btn-block btn-danger">Cancel</a>
                      </div>
                    </div>
            </div>
            <div class="card-body table-responsive" *ngIf = "successMessage">
              <div class="row">
                  <div class="col-md-12">
                    <p class="text-green">The treatment data is successfully added.
                    </p>
                  </div>
              </div>
            </div>   
            <div class="card-body table-responsive" *ngIf = "errorMessage">
              <div class="row">
                  <div class="col-md-12">
                    <p class="text-red">{{errorMessage}}</p>
                  </div>
              </div>
            </div> 
  
          </div>
      </div>
    </div>
  </section>
  </form>   
  
   