<div class="content-header">
  <h5 class="left-half">Dashboard</h5>
</div>
<section class="content">
  <div class="container-fluid">
    
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <a routerLink = "/client/search" class="btn btn-primary">
            Search Client
          </a>
        </div>
        <div class="col-sm-4 col-md-2">
          <a routerLink = "/client/add" class="btn btn-success">
            Add New Client
          </a>
        </div>
      </div>
      <div style="padding-top: 36px;"></div>
    
      <div class="row">
        <div class="col-md-8">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fa fa-heartbeat"></i>
                Ongoing Sessions
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive no-padding" *ngIf = "sessionSearchComplete">
              <table class="table table-hover">
                  <tr> 
                      <th>Client Name</th>                      
                      <th>Follow Up Date <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                      </th>
                  </tr>
                  <tr *ngFor='let client of upcomingSessionsClients'>
                      <td>
                        <a
                        [routerLink] = "['/client', client.clientId]"
                        style="cursor: pointer">
                        {{ client.clientName }}
                      </a>
                      </td>
                      <td>{{  client.followupdate }}</td>
                     
                  </tr>                        
              </table>
            </div>
            <div class="card-body table-responsive" *ngIf = "errorMessage">
                <p class="text-red">{{errorMessage}}</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-4">
        <app-notifications></app-notifications>
      </div>
      </div>
  </div>
</section>