<div class="content-header">
  <h5 class="left-half">Dashboard</h5>
</div>
<section class="content">
  <div class="container-fluid">
    <!-- <div class="card card-default"> -->
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <a routerLink = "/client/search" class="btn btn-primary">
            Search Client
          </a>
        </div>
        <div class="col-sm-4 col-md-2">
          <a routerLink = "/client/add" class="btn btn-success">
            Add New Client
          </a>
        </div>
      </div>
      <div style="padding-top: 36px;"></div>
    <!-- </div> -->
    <div class="card card-default">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fa fa-warning"></i>
                Ongoing Sessions
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              blah blah blah
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-4">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fa fa-warning"></i>
                Notifications
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <!-- Info Boxes Style 2 -->
              <div class="info-box mb-3 bg-warning">
                <span class="info-box-icon">
                  <i class="fa fa-tag"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Yet to Start Sessions</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <div class="info-box mb-3 bg-danger">
                <span class="info-box-icon">
                  <i class="fa fa-cloud-download"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Crossed Follow Up Date</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>