input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
  }

select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px);
}

select.form-control.medium-select {
    height: calc(3.25rem + 2px);
}

.error {
    color: #a94442;
} 

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid #a94442;
} 

.form-control {
  width: 90%;
  height: 30px;
}

.fa-asterisk {
  color: red;
  font-size: 10px;
} 

.nav>li>a {
  padding: 5px 10px;
}

.table-bordered>thead>tr>th,

.table-bordered>tbody>tr>th

.table-bordered>thead>tr>td,

.table-bordered>tbody>tr>td {
  border: 1px solid #beccd0;
  white-space: nowrap;
} 

.table>tbody>tr>td,

.table>tbody>tr>th,

.table>thead>tr>td,

.table>thead>tr>th {

  padding: 4px;
  font-size: 1.2rem;

} 

.table>caption+thead>tr:first-child>td,

.table>caption+thead>tr:first-child>th,

.table>colgroup+thead>tr:first-child>td,

.table>colgroup+thead>tr:first-child>th,

.table>thead:first-child>tr:first-child>td,

.table>thead:first-child>tr:first-child>th {

  border-top: 1px solid #beccd0;

}

.top9 {padding-top: 9rem;}
.top10 {padding-top: 10rem;}
.top12 {padding-top: 12rem;}
.left-half {padding-left: 0.5em;}
.left-onehalf {padding-left: 1.5em;}
.left5 {padding-left: 5em;}

body {
  font-size: 1.2rem;
}

.text-red {
  font-size: 2.0rem;
}

h5 {
  font-size: 3.25rem;
}

.card-title {
  font-size: 1.95rem;
}
.card-header {
  font-size: 2.25rem;
}

.box-header {
  font-size: 2.25rem;
}
.btn {
  font-size: 1.2rem;
}

.brand-link {
  font-size: 2.25rem;
}

.nav {
  font-size: 1.5rem;
}

.form-control {
  font-size: 1.5rem;
}

.help-block {
  color: #930d0d;
}

.nav-item:hover > .nav-link {
  color: #fff;
  background-color: rgba(127, 201, 221, 0.1);
}

.btn-group-vertical > button{
  margin-bottom:10px;
}

.fade.in {
  opacity: 1;
}

.modal-dialog {
  height: 600px;
  max-width: 800px;
}

 .modal-header {
   background-color: #a5d5e0;
  padding: 4.5rem;
  border-bottom: 1px solid #e5e5e5;
} 

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

/* .modal-content {
  height: 70%;
}    */

.modal-body {
  position: relative;
  padding: 15px 0px 10px 50px;
}
 
#clientDetailModal {
  padding-top: 80px;
} 

#sessionDetailModal {
  padding-top: 80px;
} 

.key {
  color: rgb(10, 97, 97);
  font-weight: 600;
}

.main-header > .navbar {
  margin-left : 0px;
}

.main-header > .stackbar:hover {
  color: #1714cb;
}

#modal-link {
  text-decoration: underline;
}

#modal-link:active {
  color: rgb(23, 52, 219);
}

#modal-link:link {
  color: rgb(23, 52, 219);
}

#modal-link:visited {
  color: rgb(204, 125, 21);
}

#modal-link:hover {
  color: rgb(45, 3, 122);
}

.text-green {
  color: #1e940f;
}